In [1]:
import pandas as pd
df=pd.read_csv("washing_ma.csv",index_col=0)
df.head()

,stars,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,NaN,"24,972 Ratings",23% off,"₹18,790",Whirlpool,5,8 kg,740 rpm
1,NaN,"11,841 Ratings",39% off,"₹15,490",Panasonic,5,7 kg,700 rpm
2,NaN,"24,972 Ratings",24% off,"₹14,590",Whirlpool,5,7 kg,740 rpm
3,NaN,"22,205 Ratings",25% off,"₹12,890",Whirlpool,5,8.5 kg,1400 rpm
4,NaN,"37,103 Ratings",19% off,"₹11,490",LG,5,7 kg,1350 rpm

In [2]:
df.drop("stars",axis=1,inplace=True)

In [3]:
df.head(2)

,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,"24,972 Ratings",23% off,"₹18,790",Whirlpool,5,8 kg,740 rpm
1,"11,841 Ratings",39% off,"₹15,490",Panasonic,5,7 kg,700 rpm

In [4]:
df.ratings.dtype

dtype('O')

In [5]:
df.ratings.isnull().sum()

np.int64(6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 419 entries, 0 to 477
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ratings         413 non-null    object
 1   discounts       413 non-null    object
 2   prices          419 non-null    object
 3   brand           419 non-null    object
 4   energy_rating   419 non-null    object
 5   capacity        419 non-null    object
 6   max_spin_speed  419 non-null    object
dtypes: object(7)
memory usage: 26.2+ KB

In [7]:
df.dropna(axis=0,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 408 entries, 0 to 477
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ratings         408 non-null    object
 1   discounts       408 non-null    object
 2   prices          408 non-null    object
 3   brand           408 non-null    object
 4   energy_rating   408 non-null    object
 5   capacity        408 non-null    object
 6   max_spin_speed  408 non-null    object
dtypes: object(7)
memory usage: 25.5+ KB

In [9]:
#CHAINING TO REMOVE "," AND RATINGS STRING
df["ratings"]=df["ratings"].str.replace(",","").apply(lambda x:x.split(" ")[0])

In [10]:
df["ratings"].head()

0    24972
1    11841
2    24972
3    22205
4    37103
Name: ratings, dtype: object

In [11]:
df.ratings=df.ratings.astype(int)

In [12]:
df.ratings.dtype

dtype('int64')

In [13]:
#CHAINING TO REMOVE "%" AND CONVERTING TO INT
df.discounts=df.discounts.apply(lambda x:x.split("%")[0]).astype(int)

In [14]:
df.discounts

0      23
1      39
2      24
3      25
4      19
       ..
471    23
473    37
474    23
476    24
477    38
Name: discounts, Length: 408, dtype: int64

In [15]:
#CHAINING TO REPLACE  "₹" AND "," WITH "" AND CONVERTING TO INT
df.prices=df.prices.str.replace("₹","").str.replace(",","").astype(int)

In [16]:
df.prices

0      18790
1      15490
2      14590
3      12890
4      11490
       ...
471    14730
473    22300
474    23990
476    21990
477    12690
Name: prices, Length: 408, dtype: int64

In [17]:
df.brand.unique()

array(['Whirlpool', 'Panasonic', 'LG', 'realme TechLife', 'SAMSUNG',
       'Godrej', 'IFB', 'Thomson', 'Voltas Beko', 'MarQ by Flipkart',
       'Haier', 'MOTOROLA', 'Electrolux', 'BOSCH', 'ONIDA', 'Lloyd',
       'Midea', 'Sansui', 'BLACK+DECKER', 'Acer', 'TCL',
       'White Westinghouse (Trademark by Electrolux)', 'Singer',
       'Siemens', 'Galanz'], dtype=object)

#BRAND COLUMN SEEMS PERFECT SO WE CAN LEAVE IT AS IT IS

In [18]:
df.capacity.unique()

array(['8 kg', '7 kg', '8.5 kg', '7.5 kg', '6.5 kg', '10 kg', '11 kg',
       '9 kg', '6 kg', '14 kg', '7.5 Kg', '9.5 kg', '12 kg', '5.5 Kg',
       'Tumble', '12 Kg', '8.5 Kg', '5.5 kg'], dtype=object)

In [19]:
df.capacity.value_counts()

capacity
8 kg      90
7 kg      90
9 kg      45
6.5 kg    36
7.5 kg    35
10 kg     30
8.5 kg    24
6 kg      23
11 kg     12
14 kg      5
9.5 kg     5
12 kg      3
12 Kg      3
Tumble     3
5.5 Kg     1
7.5 Kg     1
8.5 Kg     1
5.5 kg     1
Name: count, dtype: int64

In [20]:
#REMOVING THE UNNECCESSARY DATA "TUMBLE" AND REMOVING UNIT "KG" TO VHANGE THE COLUMN NUMERIC
MASK=df.capacity!="Tumble"
MASK.sum()

np.int64(405)

In [21]:
df2=df[MASK]
df2.head()

   ratings  discounts  prices      brand energy_rating capacity max_spin_speed
0    24972         23   18790  Whirlpool             5     8 kg        740 rpm
1    11841         39   15490  Panasonic             5     7 kg        700 rpm
2    24972         24   14590  Whirlpool             5     7 kg        740 rpm
3    22205         25   12890  Whirlpool             5   8.5 kg       1400 rpm
4    37103         19   11490         LG             5     7 kg       1350 rpm

In [22]:
df2.capacity=df2.loc[:,"capacity"].apply(lambda x:x.split(" ")[0]).astype(float)

C:\Users\vamsi\AppData\Local\Temp\ipykernel_17008\2663149064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.capacity=df2.loc[:,"capacity"].apply(lambda x:x.split(" ")[0]).astype(float)

In [23]:
df2.capacity

0       8.0
1       7.0
2       7.0
3       8.5
4       7.0
       ...
470     8.0
471     6.5
473     8.0
476     7.0
477    10.0
Name: capacity, Length: 405, dtype: float64

In [24]:
#CLEANING MAX_SPIN_SPEED
df2.max_spin_speed.unique()

array(['740 rpm', '700 rpm', '1400 rpm', '1350 rpm', '720 rpm',
       '1400 RPM', '720 RPM', '900 rpm', '680 rpm', '1000 rpm', '800 rpm',
       '1200 RPM', '740 RPM', '1000 RPM', '650 rpm', '702 rpm',
       '1200 rpm', '1300 rpm', '1300 RPM', '840 rpm', '1440 rpm',
       '750 rpm', '700 RPM', '1450 rpm', '1350 RPM', 'Yes', '780 rpm',
       '800 RPM', '705 rpm', '680 RPM', '750 RPM', '55 RPM', '1600 RPM',
       '1440 RPM', '1600 rpm', '780 RPM', '1450 RPM', '600 RPM'],
      dtype=object)

In [28]:
#REMOVING "YES" ROWS AND CONVERTS STRING TO LOWER AND THEN CONVERTS INTO INTEGER
mask=df2.max_spin_speed!="Yes"
df3=df2[mask]
df3["max_spin_speed"]=df3.iloc[:,6].str.lower().apply(lambda x:x.split(" ")[0]).astype(int)
df3.max_spin_speed

C:\Users\vamsi\AppData\Local\Temp\ipykernel_17008\4093557451.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["max_spin_speed"]=df3.iloc[:,6].str.lower().apply(lambda x:x.split(" ")[0]).astype(int)

0       740
1       700
2       740
3      1400
4      1350
       ...
470     750
471    1450
473     680
476     720
477    1350
Name: max_spin_speed, Length: 404, dtype: int64

In [30]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 404 entries, 0 to 477
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ratings         404 non-null    int64
 1   discounts       404 non-null    int64
 2   prices          404 non-null    int64
 3   brand           404 non-null    object
 4   energy_rating   404 non-null    object
 5   capacity        404 non-null    float64
 6   max_spin_speed  404 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 25.2+ KB

In [36]:
df3.energy_rating=df3.energy_rating.astype(int)

C:\Users\vamsi\AppData\Local\Temp\ipykernel_17008\2172556392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.energy_rating=df3.energy_rating.astype(int)

In [37]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 404 entries, 0 to 477
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ratings         404 non-null    int64
 1   discounts       404 non-null    int64
 2   prices          404 non-null    int64
 3   brand           404 non-null    object
 4   energy_rating   404 non-null    int64
 5   capacity        404 non-null    float64
 6   max_spin_speed  404 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 25.2+ KB

In [38]:
df3.head()

,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,24972,23,18790,Whirlpool,5,8.0,740
1,11841,39,15490,Panasonic,5,7.0,700
2,24972,24,14590,Whirlpool,5,7.0,740
3,22205,25,12890,Whirlpool,5,8.5,1400
4,37103,19,11490,LG,5,7.0,1350

In [39]:
df3.to_csv("cleaned_wash_mac.csv")